@charset "UTF-8";
.html{
    font-size:62.5%; 
}

.App {
  text-align: center;

}
.top-icon{
  text-align: center;
  align-items: center;
  width:100%;
  height:100%;

}
.router {
  text-align: center;
  width: 100%;
  height:auto;
  font-size: 16px;
  margin: auto;
}
.component-ee{
  text-align: center;
  align-items: center;

}
.component-ee-btn{
  padding: 10px;

}

.ee-sishu-kknn-table{
  margin: auto;
  padding: auto;
  text-align: left;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.contact-section{
  font-size: 16px;
 }
 .contact-table{
   margin: auto;
   border-top: 1px solid #9e9999;
 
   /* 
   border-collapse:collapse;
   border: 1px solid #9e9999;
   border-right: none;
   border-left: none;    
 */
 
   /* border: 1px solid #9e9999; */
   width: 840px;
   margin-bottom:30px;
 }
 .contact-item {
   border-right: 1px solid #9e9999;
   border-bottom: 1px solid #9e9999;
   border-collapse:collapse;
   text-align: left;
   width: 240px;
 
   /* width: 240px; */
   padding: 0px 64px 0px 16px;
   line-height: 2;
 
 
 }
 .component-mktk-check-boxs{
  text-align: left;
  padding-left:37%;

}
 .contact-body {
 
   border-bottom: 1px solid #9e9999;
   border-collapse:collapse;
   width: 400px;
   padding: 8px 0px 8px 8px;
 }
 .contact-douki {
   display: block;
   font-size: 1.4rem;
   padding: 8px 0px 8px 8px;
 }
 
 .contact-douki + .contact-skill {
   margin-top: 10px;
 }
 
 .contact-douki-txt {
   margin-left: 5px;
 }
 
 .btn {
   text-align: center;
   align-items: center;
 }
 